header {
    padding: 20px;
    background-color: skyblue;
    font-size: 20px;
    color: #767171;
    text-align: center;
    font-family: lato;
    font-weight: 500;
}

ul.none {
    list-style-type: none;
}

.span {
    font-size: 20px;
    color: #767171;
    padding: 10px;
    text-align: left;
    font-family: lato;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
}

.image {
    width: 100%;
    height: 50px;
    object-fit: contain
}