<section class="container-outside">
    <div class="outside-box-1 box-1">
        <section class="container-inside-1">
            <div class="inside-1-box box-inside-1">GENECOIN</div>
            <div class="inside-1-box box-inside-2">
                <p>Na nossa plataforma de Blockchain você</p>
                <p>registrar notas fiscais e auditar operações</p>
                <p>de maneira segura, privada e transparente.</p>
            </div>
            <div class="inside-1-box box-inside-3">
                <button mat-raised-button color="primary"> 
                    <a routerLink="/upload">Registrar</a>
                </button>
                <button mat-raised-button color="primary">
                    <a routerLink="/search">Auditar</a>
                </button>
            </div>
        </section>
    </div>
    <div class="outside-box-2 box-2">
        <section class="container-inside-2">
            <div class="inside-2-box box-inside-4">
                <img class="image" src="../../../assets/img/social.jpg" alt="">
            </div>
        </section>
    </div>
</section>