<section class="container-outside">
    <div class="outside-box-1 box-1">
        <section class="container-inside-1">
            <div class="inside-1-box box-inside-1">Auditoria de Operações</div>
            <mat-divider></mat-divider>
            <p>Insira as datas para auditar as notas</p>
            <div class="inside-1-box box-inside-2">
                <form [formGroup]="range">
                    <mat-form-field class="datepicker1" appearance="fill">
                        <input formControlName="start_date" matInput [matDatepicker]="myDatePicker1" [value]="range.value.start_date" placeholder="Data inicio">
                        <mat-datepicker-toggle [for]="myDatePicker1" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker1 startView="year"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="datepicker2" appearance="fill">
                        <input formControlName="end_date" matInput [matDatepicker]="myDatePicker2" [value]="range.value.end_date" placeholder="Data fim">
                        <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker2 startView="year"></mat-datepicker>
                    </mat-form-field>
                </form>
            </div>
            <div class="inside-1-box box-inside-3">
                <!-- <p>Selected range: {{range.value | json}}</p> -->
                <button mat-raised-button color="primary" (click)="onSubmit()">Auditar</button>
            </div>
        </section>
    </div>
    <div class="outside-box-2 box-2">
        <section class="container-inside-2">
            <div class="inside-2-box box-inside-4">
                <img class="image" src="../../../assets/img/genecoin-rgb-brand-social-media.png" alt="">
            </div>
        </section>
    </div>
</section>